@charset 'UTF-8';

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}


header {
    background-image: linear-gradient(#66ff8a 30px, #204229);
    margin: 0px;
    color: white;
}

h1 {
    margin: 0px;
    text-align: center;
    padding: 30px;
    text-shadow:  1px 1px 2px black;
    
}

h2 {
    padding: 5px;
    color: #28422E;
    font-family: 'idroid', sans-serif;
}
p {
    text-indent: 40px;
    text-align: justify;
}
#maior {
    font-size: 2em;
}

#center {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:  1px 1px 2px black;
}

.marcador {
    background-image: linear-gradient(to right, #8FEBA4, #8feba500);
}

nav > a  {
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
nav > a:hover {
    text-decoration: underline;
}

body {
    background-color: #8FEBA4;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    background-color: white;
    margin: 0px 150px 0px 150px;
    padding: 30px;
}
picture ,img {
    display: block;
    margin: auto;
}
#bugdroid {
    width: 350px;
}

iframe {
    display: block;
    margin: auto;
    width: 900px;
    height:600px
}

.borda {
    border: 50px solid #5D996B;
    border-radius: 20px 0px;
}

footer {
    background-color: white;
    margin: 0px 150px 0px 150px;
    padding: 30px;
}

#especial {
    margin: 0px 100px 0px 100px;
    width: 1200px;
    background-color: #cdffd9;
    border-radius: 15px;
    
}

section > p {
    text-indent: 40px;
    text-align: justify;
    
    
}

section > h2 {
    margin: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #5D996B;
    border-radius: 15px;
}

.lista  > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 420px;
    color: black;
}


.android::after {
    content: '🔗';
}

.android {
    text-decoration: none;
    color: rgb(0, 121, 0);
}

.android:hover {
    text-decoration: underline;
}

#final {
    background-color: rgb(0, 36, 3);
    color: white;
    padding: 5px;
}